@model AplicacionWeb.registrosalida

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>registrosalida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destino.nomdes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destino.nomdes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleado.nomemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleado.nomemp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nrosal }) |
    @Html.ActionLink("Back to List", "Index")
</p>
