@model AplicacionWeb.categoria

@{
    ViewBag.Title = "Edit";
}

<div class="card">
    <div class="card-header text-center">
        <h2>Actualizacion de Categoria</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Categoria</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.codcat)

                <div class="form-group">
                    @Html.LabelFor(model => model.nomcat, "Nombre:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nomcat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nomcat, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.estcat, "Estado:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.estcat)
                            @Html.ValidationMessageFor(model => model.estcat, "", new { @class = "text-danger" })
                            <label>Habilitado</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Actualizar" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="card-footer text-body-secondary">
        <div>
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
