@model AplicacionWeb.detalleentrada

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>detalleentrada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.canent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producto.nompro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.nompro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registroentrada.nroent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registroentrada.nroent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nrodetent }) |
    @Html.ActionLink("Back to List", "Index")
</p>
