@model IEnumerable<AplicacionWeb.detalleentrada>

@{
    ViewBag.Title = "Mantenimiento Detalle de Entradas";
}

<h2>Mantenimiento Detalle de Entradas</h2>

<p>
    @Html.ActionLink("Nuevo Detalle de Entrada", "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Producto</th>
                <th>Registro de Entrada</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.canent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.preent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.producto.nompro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.registroentrada.nroent)
                    </td>
                    <td>
                        @Html.ActionLink("Actualizar", "Edit", new { id = item.nrodetent }, new { @class = "btn btn-success" })
                    </td>
                    <td>@Html.ActionLink("Detalles", "Details", new { id = item.nrodetent }, new { @class = "btn btn-secondary" })</td>
                    <td>@Html.ActionLink("Eliminar", "Delete", new { id = item.nrodetent }, new { @class = "btn btn-danger" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>