@model AplicacionWeb.destino

@{
    ViewBag.Title = "Mantenimiento Destino";
}

@*inicio tarjeta*@
<div class="card">
    <div class="card-header text-center">
        <h2>Registro de Destino</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Categoria</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.nomdes, "Nombre: ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nomdes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nomdes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.estdes, "Estado: ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.estdes)
                            @Html.ValidationMessageFor(model => model.estdes, "", new { @class = "text-danger" })
                            <label>Habilitado</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Registrar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="card-footer text-body-secondary">
        <div>
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
